.navbar-container {
    background-color: #1D3557;
    border-radius: 20px;
    padding: 2vw;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    white-space: normal;
    width: 100%;
}

.navbar-container > a {
    color: #F7F7F7;
    font-size: 2vw;
    font-weight: bold;
    text-decoration: none;
    margin: 0 1rem;
}

@media (max-width: 768px) {
    .navbar-container {
        padding: 1vw;
    }
}