.container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.border-circle {
  border-radius: 50%;
}

.bio-container {
  display: flex;
  flex-direction: column;
  margin-left: 3vw;
  max-width: 60%;
}

.bio-container h1 {
  font-size: 48px;
  text-align: left;
  font-weight: 600;
  margin: 0;
}

.bio-container p {
  font-size: 20px;
  text-align: left;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

@media (max-width: 768px) {
  .bio-container h1 {
    font-size: 24px;
  }

  .bio-container p {
    font-size: 10px;
  }
}
