.container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.border-circle {
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
}

.bio-container {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.bio-container h1 {
  text-align: left;
  font-weight: 600;
  margin: 0;
}

.bio-container p {
  text-align: left;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

@media (max-width: 768px) {
  .border-circle {
    width: 10rem;
    height: 10rem;
  }
}
