.container {
  padding: 0 0.5rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.border-circle {
  border-radius: 50%;
  width: 17.5rem;
  height: 17.5rem;
  /* margin: 0 auto; */
}

.bio-container {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.bio-container > h1 {
  text-align: left;
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
}

.bio-container > p {
  text-align: left;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}


